<html layout:decorator="layout">

  <div layout:fragment="content" ng-controller="CustomerController">

    <form method="post" action="/customers/create">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="firstName" ng-model="customer.firstName"/>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="lastName" ng-model="customer.lastName"/>
        </div>
      <div class="form-group">
        <label for="email_address">Email address</label>
        <input type="email" class="form-control" id="email_address" name="emailAddress" ng-model="customer.emailAddress"/>
      </div>
      <button type="submit" id="submit" class="btn btn-default">Submit</button>
    </form>

  </div>

</html>